[defaults]
ask_pass = True
ask_sudo_pass = True
inventory = hosts
# you MUST specify the proper account to use when running SSH or the installation will fail
remote_user = ron
host_key_checking = false
